@font-face {
  src: url(fonts/HelveticaNeue.ttc);
  font-family: "HelveticaNeue";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  height: 100vh;
  align-self: center;
  justify-content: center;
  background-image: url("/src/assets/background.png");
  background-repeat: no-repeat;
}
